@media screen and (max-width: 768px) {

  table, th, td {
    display: block;
    width: 100%;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  th button {
    display: block;
    width: 100%;
    text-align: left;
  }


  input[type="text"] {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {

  table, th, td {
    display: block;
    width: 100%;
  }
  th, td {
    font-size: 14px;
  }
  input[type="text"] {
    font-size: 14px;
  }
}
